html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

* {
  box-sizing: inherit;
  line-height: 1.5;
  font-weight: normal;
  font-family: "PT Sans", "PT Serif";
}

h1 {
  color: #3f1622;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #8f2440;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

img {
  width: 100%;
}

figcaption {
  font-style: oblique;
}

.line {
  font-weight: bold;
  color: #222;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: normal;
}

cite {
  font-size: .8rem;
  font-style: italic;
}

h2 {
  color: #3f1622;
  font-weight: bold;
}

.cool-list {
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}

.last-list {
  list-style-type: disc;
}

.italic {
  font-style: italic;
}
